<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone movie lib</title>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css">
	<script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
</head>
<body>
	<div class="ui page grid">
		<div class="row" id="leftCol">
			
		</div>
		<div class="row">
			<div class="four wide column">
				<div class="ui vertical menu">
				  <a class="active teal item">
				    Inbox
				    <div class="ui teal label">1</div>
				  </a>
				  <a class="item">
				    Spam
				    <div class="ui label">51</div>
				  </a>
				  <a class="item">
				    Updates
				    <div class="ui label">1</div>
				  </a>
				  <div class="item">
				    <div class="ui transparent icon input">
				      <input placeholder="Search movies..." type="text">
				      <i class="search icon"></i>
				    </div>
				  </div>
				</div>
			</div>
			<div class="twelve wide column" id="content">
				<div class="ui items" id="movieslist">
				</div>
			</div>
		</div>
	</div>

	<script type="text/template" id="tplCategories">
		<div class="sixteen wide column">
			<div class="ui menu">
			  <a class="active item">
			    <i class="home icon"></i> Home
			  </a>
			  <a class="item">
			    <i class="film icon"></i> Movies
			  </a>
			  <a class="item">
			    <i class="mail icon"></i> Messages
			  </a>
			  <div class="right menu">
			    <div class="item">
			      <div class="ui transparent icon input">
			        <input placeholder="Search..." type="text">
			        <i class="search link icon"></i>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</script>

	<script type="text/template" id="tplListItemView">
		<div class="image">
			<img src="<%= coverImage %>" alt="" />
		</div>
		<div class="content">
			<a class="header"><%= title %></a>
			<div class="meta"><%= genre %></div>
			<div class="description">
				<%= summary %>
			</div>
			<div class="extra">
				<div class="ui right floated icon button jsDelete"><i class="icon trash"></i></div>
			</div>
		</div>
	</script>

	<script type="text/template" id="tplAddMovie">
	<h4 class="ui dividing header">Add movie</h4>
	<div class="required field">
		<label>Title</label>
		<input type="text" data-id="title" />
	</div>
	  <div class="field">
		
	</div>
	<div class="two required fields">
		<div class="field">
			<label>Genre</label>
    		<select class="ui search dropdown" id="ddlGenres" data-id="genre">
			</select>
		</div>
		<div class="field">
			<label>Year</label>
			<input type="text" data-id="year" />
		</div>
	</div>
	
	<div class="field">
		<label>Summary</label>
		<textarea data-id="summary"></textarea>
	</div>
	<div class="field">
		<label>Cover Image</label>
		<input type="file" />
	</div>
	<div class="field">
		<label>Youtub trailer</label>
		<input type="text" placeholder="http://youtu.be/lAHwtABg8UE" data-id="youtube_trailer" />
	</div>
	
	<div class="ui submit button" id="addMovie">Submit</div>
	</script>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>